<app-counter></app-counter>
<router-outlet></router-outlet>
<div class="mobile-list">
  <app-loader *ngIf="isLoading"></app-loader>
  <h1 class="mobile-title">Доступные операторы для пополнения</h1>
  <mat-card class="mobile-item" *ngFor="let company of companies$ | async; index as i ">
    <div class="mobile-item__info">
      <div class="mobile-item__number">{{i+1}}</div>
      <div class="mobile-item__label">{{company.name}}</div>
    </div>
    <button mat-button class="mobile-item__action"
            (click)="openPayDialog(company.id)">Пополнить
    </button>
  </mat-card>
</div>

